evaluation_osworld_examples/settings/google/settings.json
evaluation_osworld_examples/settings/googledrive/client_secrets.json
docker_vm_data/
results/
datasets/
files/
evaluation_osworld_examples/
evaluation_risk_examples/
env_risk_utils/induced_texts/
env_risk_utils/popup_logos/
.DS_Store
*.png

# Credentials (sensitive info)
credentials.yaml
client_secrets.json