# RiOSWorld dependencies
riosworld-aievobox[full] @ git+https://github.com/k4ngzy/RiOSWorld.git@aievobox-osenv

# Additional dependencies for osgym
certifi
chardet
fabric
fastapi
func-timeout
gdown
loguru
pyacoustid
pydantic
pygame
PyGetWindow
pytesseract
pytz
uvicorn
wrapt_timeout_decorator
